/ globalWrapper
#globalWrapper
  %section
    #fullWidthSliderWrapper
      .camera_wrap
        %div{"data-src" => "/images/slider/camera-slide1.jpg", "data-thumb" => "/images/slider/camera-v-slide1.jpg"}
        %div{"data-src" => "/images/slider/camera-slide2.jpg", "data-thumb" => "/images/slider/camera-v-slide2.jpg"}
        %div{"data-src" => "/images/slider/camera-slide3.jpg", "data-thumb" => "/images/slider/camera-v-slide3.jpg"}