!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}
      %title OHMY! HTML5, CSS3, responsive, Bootstrap website template
      %meta{:content => "OHMY!  HTML5 responsive Website template based on Twitter Bootstrap framework. Easy to customize.", :name => "description"}

  %body
    /
      Primary Page Layout
      \==================================================
    / header
    %header#mainHeader.clearfix
