!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    /
      Basic Page Needs
      \==================================================
    %meta{:charset => "utf-8"}
      %title OHMY! HTML5, CSS3, responsive, Bootstrap website template
      %meta{:content => "OHMY!  HTML5 responsive Website template based on Twitter Bootstrap framework. Easy to customize.", :name => "description"}

  %body
    / slider
    %section#sliderWrapperRS
      / background slider dark bloc
      #bgSliderBlocWrapper
        .container
          #bgSliderBloc &nbsp;
      / background slider dark bloc
      .fullwidthbanner-container
        .fullwidthbanner
          %ul
            %li{"data-masterspeed" => "2000", "data-slotamount" => "1", "data-transition" => "fade"}
              %img{:alt => "slide", :src => "assets/slider/rs/thumb.png"}/
              .caption.lfr{"data-easing" => "easeOutExpo", "data-speed" => "1000", "data-start" => "300", "data-x" => "50", "data-y" => "26"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/ohmy1.png"}/
              .caption.sft{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "600", "data-x" => "495", "data-y" => "50"}
                %h2 OPENShop
              .caption.sfb.hidden-phone{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "700", "data-x" => "495", "data-y" => "125"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Nunca fué tan fácil comprar en línea
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "1000", "data-x" => "495", "data-y" => "159"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Todas las formas de pago
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "1250", "data-x" => "495", "data-y" => "193"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Integración Social
              .caption.sfb.hidden-phone{"data-easing" => "easeOutExpo", "data-speed" => "900", "data-start" => "2000", "data-x" => "495", "data-y" => "270"}
                %a.btn.btn-3d.btn-3d-medium{:href => "http://themeforest.net/item/ohmy-html5-css3-bootstrap-website-template/3589661?ref=Little-Neko"} Registrarme
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "1500", "data-x" => "495", "data-y" => "227"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Los Mejores Precios
            %li{"data-slotamount" => "2", "data-transition" => "fade"}
              %img{:alt => "slide", :src => "assets/slider/rs/thumb.png"}/
              .caption.lfl{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "800", "data-x" => "450", "data-y" => "65"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/ohmy3.png"}/
              .caption.sft{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1600", "data-x" => "70", "data-y" => "120"}
                %h2 Crea tu propia Tienda
              .caption.sfb.hidden-phone{"data-easing" => "easeOutExpo", "data-speed" => "900", "data-start" => "2500", "data-x" => "72", "data-y" => "271"}
                %a.btn.btn-3d.btn-3d-medium{:href => "http://themeforest.net/item/ohmy-html5-css3-bootstrap-website-template/3589661?ref=Little-Neko"} Mira cómo
              .caption.lfr.hidden-phone{"data-easing" => "easeInExpo", "data-speed" => "500", "data-start" => "1500", "data-x" => "72", "data-y" => "194"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Personaliza a tu manera
              .caption.lfr.hidden-phone{"data-easing" => "easeInExpo", "data-speed" => "500", "data-start" => "1700", "data-x" => "72", "data-y" => "228"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Tus Productos, Tus Precios
            %li{"data-slotamount" => "1", "data-transition" => "fade"}
              %img{:alt => "slide", :src => "assets/slider/rs/thumb.png"}/
              .caption.lfr{"data-easing" => "easeOutBack", "data-speed" => "800", "data-start" => "300", "data-x" => "0", "data-y" => "60"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/screen1.png"}/
              .caption.lfl{"data-easing" => "easeOutExpo", "data-speed" => "600", "data-start" => "700", "data-x" => "150", "data-y" => "200"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/screen2.png"}/
              .caption.lfb{"data-easing" => "easeOutBack", "data-speed" => "400", "data-start" => "1000", "data-x" => "250", "data-y" => "300"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/screen3.png"}/
              .caption.sft{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "500", "data-x" => "465", "data-y" => "48"}
                %h2 Fully responsive,
              .caption.sft{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "700", "data-x" => "465", "data-y" => "102"}
                %h2 awesome, huh??
              .caption.sfb.hidden-phone{"data-easing" => "easeOutExpo", "data-speed" => "900", "data-start" => "1500", "data-x" => "467", "data-y" => "287"}
                %a.btn.btn-3d.btn-3d-medium{:href => "http://themeforest.net/item/ohmy-html5-css3-bootstrap-website-template/3589661?ref=Little-Neko"} Read More
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "900", "data-x" => "467", "data-y" => "176"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Lightweight Bootstrap 960 grid
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "1100", "data-x" => "467", "data-y" => "210"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Responsive Grid Down To Mobile
              .caption.sfl.hidden-phone{"data-easing" => "easeOutBounce", "data-speed" => "500", "data-start" => "1300", "data-x" => "467", "data-y" => "244"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Looks great on tablets & Smartphones
            %li{"data-slotamount" => "2", "data-transition" => "fade"}
              %img{:alt => "slide", :src => "assets/slider/rs/thumb.png"}/
              .caption.lfl{"data-easing" => "easeOutBack", "data-speed" => "900", "data-start" => "800", "data-x" => "400", "data-y" => "30"}
                %img.ie8PngFix{:alt => "slide", :src => "assets/slider/rs/ohmy2.png"}/
              .caption.sft{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1600", "data-x" => "50", "data-y" => "60"}
                %h2 Build with bootstrap
              .caption.lfr.hidden-phone{"data-easing" => "easeInExpo", "data-speed" => "500", "data-start" => "1500", "data-x" => "52", "data-y" => "134"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Sleek, intuitive, and powerful
              .caption.lfr.hidden-phone{"data-easing" => "easeInExpo", "data-speed" => "500", "data-start" => "1700", "data-x" => "52", "data-y" => "168"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Mobile-Friendly Development
              .caption.sfb.hidden-phone{"data-easing" => "easeOutExpo", "data-speed" => "900", "data-start" => "2500", "data-x" => "52", "data-y" => "246"}
                %a.btn.btn-3d.btn-3d-medium{:href => "http://themeforest.net/item/ohmy-html5-css3-bootstrap-website-template/3589661?ref=Little-Neko"} Read More
              .caption.lfr.hidden-phone{"data-easing" => "easeInExpo", "data-speed" => "500", "data-start" => "1800", "data-x" => "52", "data-y" => "202"}
                %h3
                  %i.icon-right-circle>
                  \&nbsp;Dozen of shortcodes
          .tp-bannertimer
